body {
  font-family: system-ui;
  background: #0f172a;
  color: white;
  text-align: center;
  padding-top: 80px;
}

button {
  font-size: 40px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  background: #22c55e;
  color: black;
}
